@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
    background-color: lightpink
}

#largeImageContainer {
    padding: 0px;
    max-width: 600px;
    margin-top: 0px;
   }
  #largeImageContainer img {
    width: 100%;
  }